html {
    background: #e6e9e9;
}





/* global clears */



    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    }

    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 1;
    }
    ol, ul {
    list-style: none;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }




    img
    {
        display:block;
        margin:0;
    }





/* my firefox clears */



a:active
{
outline: none;
}

a:focus
{
-moz-outline-style: none;
}





/*repeated tools or classes*/

.clearfix {
    clear: both;
    }





/* my global code */


body {

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;

}








/* my nav links breakout and styling*/


li {
    
    list-style: none;
    padding-left: 80px;
    font-size: 10px;
    color: #fff;
}






/*color beam*/

#color_beam {
    width: 100%;
    height: 225px;
    background-color: #4FC3F7;
    z-index: 1;


}








/*left navigation elements and positioning*/

#mylogo_container {
    
    float: left;
    padding-left: 50px;
    padding-top: 80px; 
    width: 200px;
    

}


#tagline {
    
    font-size: 13.6px;
    text-decoration: none;
    color: #FFF;
    opacity: 0.6;
    
}







/*right navigation elements and positioning*/


#nav_container {
    
    float: right;
    position: relative;
    padding-right: 110px;
    padding-top: 60px; 
}





#nav_container li {
    float: left;  
    display: inline;
    list-style: none;
    cursor: pointer;   
}



#nav_container li a {
    color: #fff; 
    text-decoration: none;

}






#nav_container li a:hover {
  text-decoration: underline;
  color: #5F5F5F;

}






















/*inline button general styling*/


.inline_buttons {
  display: inline-block;
  padding: 5px 50px;
  cursor: pointer;
  font-size: 12px;   
  line-height: 1.71429;
  border-radius: 30px;
  text-decoration: none;
}

.inline_buttons:hover {
  text-decoration: none;
  background: #3796C1;
  color: #FFF;
}




h4{
    font-size: 28px;
    font-weight: bold;
    line-height: 1.2; 
    padding-bottom: 15px;
    color: #434343;   

}








/*about intro section*/



.about_introtext_container{
    background: #e6e9ed url(/images/about/about_intro_background.jpg);
    background-size: cover;
    background-position: left center;
    height: 500px;
    background-color: #FFF;
    display: flex;
    align-items: center;

}


.about_main_container{
  
    padding-left: 100px;
    padding-top: 20%;
    padding-bottom: 20%;
    width: 50%;
}


h4{
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 15px;
    color: #434343; 
    line-height: 1.2; 


}


h5{
    font-size: 15px;
    font-weight: 300;
    line-height: 30px; 
    padding-bottom: 15px;
    color: #434343;   



}




.role {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #A7A7A7;
}






/*profile image*/


.overview_image_container{
    height: 200px;
    padding-top: 20%;
    padding-bottom: 20%;
    flex-basis: 40%;

    
}



.image_scale{
     padding-left: 100px;
     width: 45%;

    
}






/*about tools section*/



.tools_bullets_5up{
    height: 375px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
   /* padding-left: 10%;
    padding-right: 10%;*/
    padding-top: 100px;
    flex-direction: column;
    justify-content: center;
    
}



.bullet_container_title{
    font-size: 24px;
    color: #434343; 
    text-align: center;
    margin-bottom: 35px;

}




.global_bullet_containers {
    display: flex;
    justify-content: space-around;
    width: 40%;
   
}

.bullet_containers {
    width: 250px;
    height: 100px;
    margin: 5%;
     
}

.bullet_image {
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;

     
}


.bullet_image img {
    display: block;
    margin: auto;
    width: 100;

     
}





.toolkit_description{
    font-size: 16px;
    line-height: 1.1;
    font-style: italic;
    text-align: center;
    color: #434343;
    opacity: 0.5;
    width: 50%;
}





/*testimonials*/




.testimonial_container {
    height: 1450px;
    background-color: #F5F5F5;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 170px;

}



.testimonial_content {

    /*width: 800px;    
    margin: auto 0;*/
}



.some_results {
    padding-bottom: 25px;
    
}



.testimonial {
    width: 430px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;  
    margin-bottom: 10px;
    color: #434343;   
    opacity: .5;
   
}



.attribution {
    width: 300px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;    
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 50px;
    color: #434343;    
    opacity: .75;
   

}



.circle {
    margin-bottom: 45px;
    
}





/*call to action*/



.cta_container {
    height: 450px;
    background-color: #F5F5F5;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}




.cta_text {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 25px;
    color: #434343;
    width: 50%;
    opacity: 0.5;
}










/*global footer styling*/


#footer_container_styling {
    width: 100%;
    height: 225px;
    background-color: #8E8E8E;
    margin-top: 550px;
    margin-bottom: 0px;


}



/*left footer wrapper*/


#footer_left_content {
    float: left;
    width: 370px;
    margin-left: 50px;
    

}


/*left footer content*/


#footer_name {
    color: #fff;
    line-height: 1.2;
    padding-top: 90px; 

}


#footer_address {
    font-size: 10px;
    color: #fff;
    line-height: 1.8; 
  
}



/*right footer wrapper*/


#footer_right_content {
    float: right;
    width: 440px;
    margin-top: 90px;
    margin-left: 50px;
    padding: 10px;
    

}

/*right footer content*/

.footer_buttons {
  display: inline-block;
  margin-left: 20px;
  padding: 5px 50px;
  border: 2px solid #FFF;
  background: #8E8E8E;
  color: #FFF;
  cursor: pointer;
  font-size: 12px;   
  line-height: 1.71429;
  border-radius: 30px;
  text-decoration: none;
    
    /*Transition*/
-webkit-transition: All 0.75s ease;
-moz-transition: All 0.75s ease;
-o-transition: All 0.75s ease;
-ms-transition: All 0.75s ease;
transition: All 0.75s ease;
    
}

.footer_buttons:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #5F5F5F;

}












