html {
    background: #e6e9e9;
}





/* global clears */



    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    }

    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 1;
    }
    ol, ul {
    list-style: none;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }




    img
    {
        display:block;
        margin:0;
    }





/* my firefox clears */



a:active
{
outline: none;
}

a:focus
{
-moz-outline-style: none;
}





/*repeated tools or classes*/

.clearfix {
    clear: both;
    }





/* my global code */


body {

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;

}




/* H Values*/


/* H1 #######*/
/* H2 Home Page Tile Client Text "Organdonor.gov, Chameleon etc */
/* H3 Client Page Captions*/
/* H4 Intro Headers*/
/* H5 Body Text*/











/* my nav links breakout and styling*/


li {
    
    list-style: none;
    padding-left: 80px;
    font-size: 10px;
    color: #fff;
}






/*color beam*/

#color_beam {
    width: 100%;
    height: 225px;
    background-color: #4FC3F7;
    z-index: 1;


}








/*left navigation elements and positioning*/

#mylogo_container {
    
    float: left;
    padding-left: 50px;
    padding-top: 80px; 
    width: 200px;
    

}


#tagline {
    
    font-size: 13.6px;
    text-decoration: none;
    color: #FFF;
    opacity: 0.6;
    
}







/*right navigation elements and positioning*/


#nav_container {
    
    float: right;
    position: relative;
    padding-right: 110px;
    padding-top: 60px; 
}




#nav_container li {
    float: left;  
    display: inline;
    list-style: none;
    cursor: pointer;   
}



#nav_container li a {
    color: #fff; 
    text-decoration: none;

}





#nav_container li a:hover {
  text-decoration: underline;
  color: #5F5F5F;

}








/*inline button general styling*/


.inline_buttons {
  display: inline-block;
  padding: 5px 50px;
  cursor: pointer;
  font-size: 12px;   
  line-height: 1.71429;
  border-radius: 30px;
  text-decoration: none;
  background: #D05A00;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
}

.inline_buttons:hover {
  text-decoration: none;
  background: #b54f01;
  color: #FFF;
}




/*inline wireframes button*/


/*next project button*/

.next_project_button {
    display: block;
    width: 100px;
    text-align: center;
    background: #D05A00;
    color: #FFF; 
    margin-left: auto;
    margin-right: auto;
    
}


.next_project_button:hover {
  background: #b54f01;
  color: #FFF;  
}


.reverse_nav a {
  display: block;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  text-decoration: underline;
  color: #434343;
  opacity: .25;
  margin-top: 50px;
}


.reverse_nav a:hover{
  text-decoration: none;
  color: #302d2d;
  opacity: 1;
    
}






/*Lightbox*/




.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

/** videoModal **/
#videoModal {
  border-radius: 0;
  width: 870px;
  margin:auto;}
  #videoModal .modal-header {
    background: #000;
    border: 0;
    color: #fff;
    position: relative;
		  height:35px; }
    #videoModal .modal-header h3 {
      font-size: 18px;
      line-height: 22px;
	  font-family:Arial, Helvetica, sans-serif;
	  padding:5px;}
  #videoModal .modal-body {
    height: 489px;
    padding: 0;
    max-height: none;
    overflow: hidden; }
  #videoModal .modal-footer:empty {
    display: none !important; }
  #videoModal .close {
    background: #D05A00;
    color: #fff;
    font-size: 24px;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    text-shadow: none;
    top: 0;
    width: 38px; }












/*DAV page content specific styling*/


.header_image {
    background: #e6e9ed url(/images/headers/dav.jpg);
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.bg-overlay{
  min-height:400px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;  
  -webkit-align-items: center;
  -ms-flex-align: center;
}


.header_image .bg-overlay{
  background: rgba(0,0,0,0.2) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;}



.dav_logo {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    
}



.quote {
    background-color: #D05A00;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    width: 100%;
    height: 400px;
}


.headline-quote{
    /*height: 200px;*/
    width: 60%;
    padding-top: 100px;
    padding-bottom: 100px;
}








/*DAV Content*/




.dav_introtext_container{
    background: #e6e9ed url(/images/dav/angled_ipad_mockup.png);
    background-size: cover;
    background-position: right center;
    height: 700px;
    color: #F5F5F5;
    display: flex;
    align-items: center;

}


.dav_main_container{
  
    padding-left: 100px;
    padding-top: 20%;
    padding-bottom: 20%;
    width: 40%;
}


h4{
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 15px;
    color: #434343;
    line-height: 1.2; 


}


h5{
    font-size: 15px;
    font-weight: 300;
    line-height: 30px; 
    padding-bottom: 15px;
    color: #434343;   



}


.emphasize_text {
    font-size: 18px;
    font-weight: bold;  
}


.role {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #A7A7A7;
}




/*DAV Content Laptop Mockup*/



.dav_laptop_container {
    background: #e6e9ed url(/images/dav/sketch_wireframes.png);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    height: 550px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}




.dav_laptop {
    max-height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}





/*Button Breakers -- View Wireframes*/



.dav_buttonbreaker{
    height: 335px;
    color: #F5F5F5;
    display: flex;
    align-items: center;

}







/*DAV Three Up Mobile*/


.dav_three_up_mobile{
    background: #e6e9ed url(/images/dav/dav_threeup_mobile.png);
    background-size: contain;
    background-position: center center;
    height: 635px;
    background-color: #BDBDBD;
   /* display: flex;
    align-items: center;*/
    background-repeat: no-repeat;

}


































/*global footer styling*/


#footer_container_styling {
    width: 100%;
    height: 225px;
    background-color: #8E8E8E;
    margin-top: 480px;
    margin-bottom: 0px;


}



/*left footer wrapper*/


#footer_left_content {
    float: left;
    width: 370px;
    margin-left: 50px;
    

}


/*left footer content*/


#footer_name {
    color: #fff;
    line-height: 1.2;
    padding-top: 90px; 

}


#footer_address {
    font-size: 10px;
    color: #fff;
    line-height: 1.8; 
  
}



/*right footer wrapper*/


#footer_right_content {
    float: right;
    width: 440px;
    margin-top: 90px;
    margin-left: 50px;
    padding: 10px;
    

}

/*right footer content*/

.footer_buttons {
  display: inline-block;
  margin-left: 20px;
  padding: 5px 50px;
  border: 2px solid #FFF;
  background: #8E8E8E;
  color: #FFF;
  cursor: pointer;
  font-size: 12px;   
  line-height: 1.71429;
  border-radius: 30px;
  text-decoration: none;
    
    /*Transition*/
-webkit-transition: All 0.75s ease;
-moz-transition: All 0.75s ease;
-o-transition: All 0.75s ease;
-ms-transition: All 0.75s ease;
transition: All 0.75s ease;
    
}

.footer_buttons:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #5F5F5F;

}


/* footer button transition override*/


/*#footer_button_hover:hover {
  background-color: #7f7f7f;
  color: #FFF;  
}*/












