html {
    background: #e6e9e9;
}





/* global clears */



    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    }

    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 1;
    }
    ol, ul {
    list-style: none;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }




    img
    {
        display:block;
        margin:0;
    }





/* my firefox clears */



a:active
{
outline: none;
}

a:focus
{
-moz-outline-style: none;
}





/*repeated tools or classes*/

.clearfix {
    clear: both;
    }





/* my global code */


body {

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;

}










/* my nav links breakout and styling*/


li {
    
    list-style: none;
    padding-left: 80px;
    font-size: 10px;
    color: #fff;
}






/*color beam*/

#color_beam {
    width: 100%;
    height: 225px;
    background-color: #4FC3F7;
    z-index: 1;


}








/*left navigation elements and positioning*/

#mylogo_container {
    
    float: left;
    padding-left: 50px;
    padding-top: 80px; 
    width: 200px;
    

}


#tagline {
    
    font-size: 13.6px;
    text-decoration: none;
    color: #FFF;
    opacity: 0.6;
    
}







/*right navigation elements and positioning*/


#nav_container {
    
    float: right;
    position: relative;
    padding-right: 110px;
    padding-top: 60px; 
}




#nav_container li {
    float: left;  
    display: inline;
    list-style: none;
    cursor: pointer;   
}



#nav_container li a {
    color: #fff; 
    text-decoration: none;

}





#nav_container li a:hover {
  text-decoration: underline;
  color: #5F5F5F;

}








/*inline button general styling*/


.inline_buttons {
  display: inline-block;
  padding: 5px 50px;
  cursor: pointer;
  font-size: 12px;   
  line-height: 1.71429;
  border-radius: 30px;
  text-decoration: none;
}

.inline_buttons:hover {
  text-decoration: none;
  background: #3796C1;
  color: #FFF;
}




/*inline wireframes button*/


/*next project button*/

#next_project_button {
    display: block;
    width: 100px;
    text-align: center;
    background: #46A69F;
    color: #FFF; 
    margin-left: auto;
    margin-right: auto;
    
}


#next_project_button:hover {
  background: #3b8983;
  color: #FFF;  
}



.reverse_nav a {
  display: block;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  text-decoration: underline;
  color: #434343;
  opacity: .25;
  margin-top: 50px;
}


.reverse_nav a:hover{
  text-decoration: none;
  color: #302d2d;
  opacity: 1;
    
}




/*Chameleon page content specific styling*/


.header_image {
    background: #e6e9ed url(/images/headers/chameleon.jpg);
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.bg-overlay{
  min-height:400px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;  
  -webkit-align-items: center;
  -ms-flex-align: center;
}



.header_image .bg-overlay{
  background: rgba(0,0,0,0.2) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;}



.chameleon_logo{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}


.quote {
    background-color: #2daa9f;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    width: 100%;
    height: 400px;
}


.headline-quote{
    /*height: 200px;*/
    width: 60%;
    padding-top: 100px;
    padding-bottom: 100px;
}






/*Chameleon Content*/


.chameleon_introtext_container{
    background: #e6e9ed url(/images/chameleon/Chameleon-Isometric-Perspective-Mock-Up.png);
    background-size: cover;
    background-position: right center;
    height: 800px;
    background-color: #B6E9E4;
    display: flex;
    align-items: center;

}


.chameleon_main_container{
  
    padding-left: 100px;
    padding-top: 20%;
    padding-bottom: 20%;
    width: 35%;
}


h4{
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 15px;
    color: #434343; 
    line-height: 1.2; 


}


h5{
    font-size: 15px;
    font-weight: 300;
    line-height: 30px; 
    padding-bottom: 15px;
    color: #434343;   



}


.emphasize_text {
    font-size: 18px;
    font-weight: bold;  
}


.role {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #A7A7A7;
}










/*Three Bullets*/





.chameleon_bullets_6up{
    background: #e6e9ed url(/images/chameleon/bullets_background.png);
    background-size: cover;
    background-position: center center;
    height: 730px;
    background-color: #C6EFFA;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*align-items: center;*/
    padding-left: 10%;
    padding-right: 10%; 
    
}

.row_wrapper{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}




.chameleon_bullets_title{
    text-align: center;
    font-style: italic;
    font-size: 24px;
    line-height: 1.2;
    color: #434343; 
    margin-top: 40px;
    margin-bottom: -35px;
}



/*adjust horz spacing between boxes, but box content should stay in position .... and top align, so bullets and title are horizontally aligned*/




/*Three Bullets Image Styling*/



.bullet_containers {
    /*width: 250px;*/
    height: 210px;
    margin: 5%;
     
}

.bullet_image {
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;

     
}


.bullet_image img {
    display: block;
    margin: auto;
    width: 100;

     
}




/*Three Bullets Text Styling*/



.bullet_title{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    color: #434343; 
    text-align: center;

}


.bullet_text{
    font-size: 13px;
    color: #434343; 
    text-align: center;
    line-height: 1.5;

}










/*My Role*/


.myrole_container{
    height: 730px;
    background-color: #46A69F;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}




.myrole_title{
    text-align: center;
    font-style: italic;
    font-size: 24px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 25px;
}



.myrole_explanation li{
    text-align: center;
    font-size: 18px;
    line-height: 2.2;
    color: #fff; 
    opacity: .5;    
    list-style: none;
    padding-left: 0px;


      
}















/*Platform Overview*/


.overview_container{
    /*background: #e6e9ed url(/images/chameleon/platform_overview_background.png);
    background-size: cover;
    background-position: right center;*/
    height: 900px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
}


.overview_text_container{
    padding-left: 100px;
    padding-top: 20%;
    padding-bottom: 20%;
    flex-basis: 35%;
}



.overview_image_container{
    height: 710px;
    padding-right: 55px;
    padding-top: 20%;
    padding-bottom: 20%;
    flex-basis: 55%;

    
}


.image_scale{
     width: 94%;

    
}



.platform_subtitle{
    font-size: 15px;
    font-style: italic;
    font-weight: 100;
    line-height: 30px; 
    color: #434343;  
    margin-top: 20px;


}



/*course samples*/

.course_samples{
    height: 335px;
    background-color: #2CAA9F;
    display: flex;
    align-items: center;

}







/*some results*/

.some_results{
    height: 1074px;
    background-color: #D8EDEC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

}





.results_dots {
    max-height: 890px;
    margin-top: 45px;
    /*margin-left: auto;
    margin-right: auto;*/
    
}






/*testimonials*/


.testimonial_container {
    height: 1025px;
    background-color: #fff;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



.testimonial_content {

    /*width: 800px;    
    margin: auto 0;*/
}




.testimonial {
    width: 430px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;  
    margin-bottom: 10px;
    color: #434343;   
    opacity: .5;
   
}



.attribution {
    width: 300px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;    
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 50px;
    color: #434343;    
    opacity: .75;
   

}



.circle {
    margin-bottom: 45px;
    
}












/*global footer styling*/


#footer_container_styling {
    width: 100%;
    height: 225px;
    background-color: #8E8E8E;
    margin-top: 480px;
    margin-bottom: 0px;


}



/*left footer wrapper*/


#footer_left_content {
    float: left;
    width: 370px;
    margin-left: 50px;
    

}


/*left footer content*/


#footer_name {
    color: #fff;
    line-height: 1.2;
    padding-top: 90px; 

}


#footer_address {
    font-size: 10px;
    color: #fff;
    line-height: 1.8; 
  
}



/*right footer wrapper*/


#footer_right_content {
    float: right;
    width: 440px;
    margin-top: 90px;
    margin-left: 50px;
    padding: 10px;
    

}

/*right footer content*/

.footer_buttons {
  display: inline-block;
  margin-left: 20px;
  padding: 5px 50px;
  border: 2px solid #FFF;
  background: #8E8E8E;
  color: #FFF;
  cursor: pointer;
  font-size: 12px;   
  line-height: 1.71429;
  border-radius: 30px;
  text-decoration: none;
    
    /*Transition*/
-webkit-transition: All 0.75s ease;
-moz-transition: All 0.75s ease;
-o-transition: All 0.75s ease;
-ms-transition: All 0.75s ease;
transition: All 0.75s ease;
    
}

.footer_buttons:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #5F5F5F;

}


/* footer button transition override*/


/*#footer_button_hover:hover {
  background-color: #7f7f7f;
  color: #FFF;  
}*/












