body {

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;

}


.view {
   width: 300px;
   height: 200px;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: left;
   cursor: default;
}
.view .mask,.view .content {
   width: 300px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   color: #fff;
   text-align: left;
   position: relative;
   font-size: 30px;
   padding-left: 30px;
   padding-top: 50px;
}
.view p {
   font-size: 12px;
   position: relative;
   color: #fff;
   padding-left: 30px;
   text-align: left;
}



