html {
    background: #e6e9e9;
}





/* global clears */



    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    }

    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 1;
    }
    ol, ul {
    list-style: none;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }




    img
    {
        display:block;
        margin:0;
    }





/* my firefox clears */



a:active
{
outline: none;
}

a:focus
{
-moz-outline-style: none;
}





/*repeated tools or classes*/

.clearfix {
    clear: both;
    }


* {
  box-sizing: border-box;
}




/* my global code */


body {

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;

}




/* my nav links breakout and styling*/


li {
    
    list-style: none;
    padding-left: 80px;
    font-size: 10px;
    color: #fff;
}






/*color beam*/

#color_beam {
    width: 100%;
    height: 225px;
    background-color: #4FC3F7;
}








/*left navigation elements and positioning*/

#mylogo_container {
    
    float: left;
    padding-left: 50px;
    padding-top: 80px; 
    width: 200px;
    

}


#tagline {
    
    font-size: 13.6px;
    text-decoration: none;
    color: #FFF;
    opacity: 0.75;
    
}







/*right navigation elements and positioning*/


#nav_container {
    
    float: right;
    /*position: relative;*/
    padding-right: 60px;
    padding-top: 60px;
    
}




#nav_container li {
    float: left;
    list-style: none;
    padding-left: 80px;
    font-size: 10px;
}






/*nav text styling*/

a:link {
    text-decoration: none;
    color: #A5E1FC;
    opacity: 1;
}



a:hover {
    text-decoration: underline;
    color: #FFF; 
    opacity: 1; 
}







/*right navigation functionality*/

/*
#nav_container a {
    
  padding: 20px;
  border-radius: 100%;
    
}



#nav_container li a:hover{
    
  background-color:rgba(255, 255, 255, 0.5);
  border-radius: 100%;
    
}


#nav_container li a{
    
  padding: 30px;
    
}

*/











/*global footer styling*/


#footer_container_styling {
    width: 100%;
    height: 225px;
    background-color: #8E8E8E;
    margin-top: 200px;
    margin-bottom: 0px;


}



/*left footer wrapper*/


#footer_left_content {
    float: left;
    width: 370px;
    margin-left: 0px;
    

}


/*left footer content*/


#footer_name {
    color: #fff;
    line-height: 1.2;
    padding-top: 90px; 

}


#footer_address {
    font-size: 10px;
    color: #fff;
    line-height: 1.8; 
  
}



/*right footer wrapper*/


#footer_right_content {
    float: right;
    width: 440px;
    margin-top: 90px;
    margin-left: 50px;
    padding: 10px;
    

}

/*right footer content*/

.footer_buttons {
  display: inline-block;
  margin-left: 20px;
  padding: 5px 50px;
  border: 2px solid #FFF;
  background: #8E8E8E;
  color: #FFF;
  cursor: pointer;
  font-size: 12px;   
  line-height: 1.71429;
  border-radius: 30px;
  text-decoration: none;
}

.footer_buttons:hover {
  text-decoration: none;
  background: #FFF;
  color: #8E8E8E;
}











