html {
    background: #e6e9e9;
}





/* global clears */



    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    }

    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 1;
    }
    ol, ul {
    list-style: none;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }




    img
    {
        display:block;
        margin:0;
    }





/* my firefox clears */



a:active
{
outline: none;
}

a:focus
{
-moz-outline-style: none;
}





/*repeated tools or classes*/

.clearfix {
    clear: both;
    }





/* my global code */


body {

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;

}




/* my nav links breakout and styling*/


li {
    
    list-style: none;
    padding-left: 80px;
    font-size: 10px;
    color: #fff;
}






/*color beam*/

#color_beam {
    width: 100%;
    height: 225px;
    background-color: #4FC3F7;
}








/*left navigation elements and positioning*/

#mylogo_container {
    
    float: left;
    padding-left: 50px;
    padding-top: 80px; 
    width: 200px;
    

}


#tagline {
    
    font-size: 13.6px;
    text-decoration: none;
    color: #FFF;
    opacity: 0.6;
    
}







/*right navigation elements and positioning*/


#nav_container {
    
    float: right;
    position: relative;
    padding-right: 60px;
    padding-top: 60px;
    
}




#nav_container li {
    float: left;
    list-style: none;
    padding-left: 60px;
    font-size: 10px;
    width: 60px;
    height: 60px;
}






/*nav text styling*/

a:link {
    text-decoration: none;
    color: #A5E1FC;
    opacity: 1;
}



a:hover {
    color: #4FC3F7; 
    opacity: 1; 
}







/*right navigation functionality*/

#nav_container a {
    
  padding: 20px;
  border-radius: 100%;
    
}



#nav_container li a:hover{
    
  background-color:rgba(255, 255, 255, 0.75);
  border-radius: 100%;
    
}


#nav_container li a{
    
  padding: 30px;
    
}






/*page specific functions*/








